html,
body {
     width: 50%;
     margin: 0 auto;
     font-family: Arial, Helvetica, sans-serif;
}

.container {
     width: 400px;
          border: 2px solid #000;
          padding: 10px;
          border-radius: 8px;
          height: 600px;
     }
     
     .inputContain {
          display: flex;
     align-items: center;
     justify-content: space-between;
}

#inputField {
     height: 20px;
     width: 80%;
     font-size: 20px;
     padding: 10px;
     border: none;
     margin-top: 50px;
     margin-left: 20px;
     border-bottom: 2px solid black;
     outline: none;
}
#addToDo {
     padding: 10px;
     border-radius: 20px;
     border: none;
     cursor: pointer;
     border: inset;
          margin-right: 30px;
          box-shadow: 2px -1px 2px 2px black;
}

.paragraph-styling {
     margin: 0;
     cursor: pointer;
     font-size: 20px;
}

.to-dos {
     border-radius: 10px;
     height: 50px;
     padding: 10px;
     display: block;
     align-items: center;
     justify-content: space-between;
     margin: 30px;
     padding-bottom: 50px;
     font-style: italic;
     font-weight: bold;
}