* {
     font-Family: sans-serif;
     /* margin: 0; */
}

.container {
     border: 4px solid blue;
     width: 40%;
     height: 80vh;
     border-radius: 10px;
     align-items: center;
     justify-content: center;
     text-align: center;
     margin: 10% 30%;
}



#input {
     height: 20px;
     width: 50%;
     font-size: 20px;
     padding: 10px;
     border: none;
     margin-top: 50px;
     border-bottom: 2px solid black;
          outline: none;
     }
     
     #input::placeholder {
          font-style: italic;
}


#sub {
     padding: 10px;
     border-radius: 20px;
     border: none;
     background-color: aqua;
     cursor: pointer;
     border: outset;
          box-shadow: 2px -1px 2px 1px black;
}

.posts {
     margin-top: 30px;
}

li {
     border-radius: 10px;
     border: 1px solid black;
     height: 50px;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 30px;
     font-style: italic;
     font-weight: bold
}